*{
    margin:0;
    padding:0;
}
.flex{
    display: flex;
    
}

/* debut css pour l'image d'arrière plan */
.slider{
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    background-color: black;
    position: relative;
    color:#FFF;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* permet de rendre l'image d'arrière plan plus obscur */ 
    filter:brightness(50%);
}

.slider-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center; 
}
/* fin css background image */

/* css taille texte */
h1{
    font-size: 3rem;
    color:#FFF;
    font-weight: 300;
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

p{
    font-size: 1.5rem;
    line-height: 1.5em;
}
/* fin css taille texte */

/* taille de la photo du cv */
.photo-cv{
    width:280px;
    height:380px;
    position:relative;
    border:2px #000 solid;
    transition: .4s;
}


.photo-cv:hover{
    width:294px;
    height:399px;
    position:relative;
    border:2px #000 solid;
    transition: .4s;
}

.cyber{
    width:350px;
    height:380px;
    position:relative;
    border:2px #000 solid;
    transition: .4s;
}


.section{
    padding: 100px 0;
}

.boxed{
    max-width: 1200px;
    margin-inline: auto;
    
}


/* bacground des autres div avec les realisation, compétences */
.dark{
    background: url(../img/slider3.jpg);
    background-size: cover;
    background-position-y: 50%;
    filter:brightness(95%);
    color: #FFF;
}

.education{
    background: url(../img/second-slider.jpg);
    background-size: cover;
    background-position-y: 50%;
    filter:brightness(95%);
    color: #FFF;
}
/* fin css */

/* declaration des classes widthx */
.text-center{
    text-align: center;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.w15{
    width: 15%;
}

.w32{
    width: 32%;
}

/* fin declaration des classes width x */

/* declaration d'autres classes */
.space-between{
    justify-content: space-between;
}

.gap20{
    gap:20px;
}

.gap320{
    gap:320px;
}
/* fin declaration */

/* declaration des classes utilisés pour les skills */
.skill{
    background: #FFF ;
    border-radius: 15px;
    padding:20px;
    box-sizing: border-box;

}

.skill img{
    width: 100px;
    height: 100px;
     aspect-ratio: 1/1;
     object-fit: contain;
}

.skill h3{
    margin-top: 10px;
    color:black;
}


/* fin declaration skills */

/* declaration des classes utilisés pour les realisations */
.realisation{
    height:auto;
    aspect-ratio: 1/1;
    position:relative;
}

.realisation h3{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    font-size: 2rem;
    width: max-content;
    /* permet de ne pas afficher l'ecriture */
    opacity: 0;
    /* permet la transition */
    transition: .4s ease;
}

.realisation a{
    display:block;
    width: 100%;
    height: 100%;
}

.realisation img{
    width:400px;
    height: 340px;
    object-fit: cover;
    filter:brightness(50%);
    transition: .4s ease;
}

.realisation:hover img{
    filter: brightness(80%);
}

/* permet de faire apparaitre l'ecriture */
.realisation:hover h3{
    opacity: 1;
}
/* fin declaration skills */

.wrap{
    flex-wrap: wrap;
}

.icon{
    display:block;
    font-size: 40px !important;
}

.label{
    display: block;
    font-weight: 700;
    text-transform:  uppercase;
    margin:10px 0;
    font-size: 1.5rem;
}

.value{
    display: block;
    font-size: 1.5rem;
    color:#fff;
}

.value2{
    display: block;
    font-size: 1.5rem;
    color:#000;
}

/* classe contact */
.contact{
    border:2px solid #fff;
    border-radius: 15px;
    padding: 15px;
    box-sizing:  border-box;
    margin:20px; /* permet d'espacer les contacts */

}
.contact2{
    border:2px solid #000;
    border-radius: 15px;
    padding: 15px;
    box-sizing:  border-box;
    margin:20px; /* permet d'espacer les contacts */

}
.linkedin{
    height: 45px;
    width: 45px;
}
.link{
    text-align:center;
}

.contact a{
    text-decoration: none;
    color: #fff;
}
.aligncenter{
    align-items: center;
}

.mon-email{
    color:#fff;
}

.contact2 a{
    text-decoration: none;
    color: #000;
}
.aligncenter{
    align-items: center;
}

.mon-email2{
    color:#000;
}

/* permet d'agrandir le mail quand la souris la survole */
.mon-email:hover{
     /* font-size: 25px; */
    text-decoration: underline;

    
}
/* fin classe contact */

header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
    background: #FFF;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.7);
}

.header-logo{
    display: block;
}

.header-logo img{
    width: 140px;
    height: 13vh;
}



.header-menu{
    display:flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    padding: 15px;
    
}

.header-menu li a {
    text-decoration: none;
    color:#000;
    padding:10px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
    justify-content: space-between;
}
.header-menu li a:hover{
    background-color: #af2cff;
    color:#FFF;
}

/* permet de mettre le contact en evidence avec last-child 
revenir a la video (p3) 12min pour choisir une bonne couleur en rapport avec le site*/
.header-menu li:last-child a{
    background-color: #af2cff;
    color:#FFF;

}

.header-menu li:last-child :hover{
    background-color: #179ee1;
    color:#fff;

}


.header-menu-mobile{
    display: none;
}
@media(max-width:810px){

    header{
        height:70px;
    }
    .header-logo{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        z-index: 999;
       
    }

    .header-menu-mobile{
        display: block;
        border: 0px;
        background-color: #FFF;
        position: absolute;
        left: 5%;
        top:50%;
        transform:translateY(-50%);
        z-index: 999;
    }

    .header-menu{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #FFF;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
        display: none;
    }
    .active{
        display: flex;
    }
    .header-menu li:last-child a{
        margin-top: 10px;
    }

    .slider{
        height: 60vh;
    }
    .slider-content{
        width: 90%;

    }

    .slider-content p{
        margin :20px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
        margin-bottom: 30px;
    }
    p{
        font-size: 1rem;
        /* permet de equilibrer le texte */
        text-wrap: balance;
    }
    .mCenter{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .toColumn{
        flex-direction: column;
    }

    .wm100{
        width: 100%;
    }
    .mgap20{
        gap:20px;
    }

    .section{
        padding:50px 0;
    }
    .boxed{
        max-width: 90%;
    }
}
